# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Pastas nativas geradas pelo prebuild/CNG (regeneradas pelo EAS Build)
/android/
/ios/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store

# Env
.env
.env.local

# IDE
.idea/
.vscode/
